/bin/mj
/makejack
target
/tools/target
*.jar
.envrc
.glam
pom.xml
_gen
/public
public
cli/src/makejack/impl/version.clj
site/content/docs/0.0/api-docs
site/content/docs/0.0/invoker-docs
site/content/docs/0.0/tool-docs
test-resources/*/target
reports
