{:deps  {aero                  {:mvn/version "1.1.6"}
         org.clojure/clojure   {:mvn/version "1.10.2-alpha1"}
         org.clojure/tools.cli {:mvn/version "1.0.194"}}
 :paths ["src" "target"]
 :aliases {:compile {:jvm-opts ["-Dclojure.compiler.direct-linking=true"
                                "-Dclojure.spec.skip-macros=true"]}}}
