#mj {:project #project {:profile :jar} ; helper for install target
     :doc     "Use `mj uberscript` to build an babashka uberscript.
               TODO - make this appear in `mj --help` output"
     :targets
     #merge
     [#default-targets [:bump]
      {:site       {:doc     "Build the static site for github pages"
                    :invoker :shell
                    :args    ["hugo"]
                    :options {:out :inherit}}
       :build-site {:doc     "doc-gen and site "
                    :invoker :chain
                    :targets [:doc-gen :site]}
       :submodule  {:doc     "Update submodules"
                    :invoker :shell
                    :args    ["git" "submodule" "update" "--recursive"]}
       :modules    {:invoker :modules
                    :modules ["tools"]}
       :build      {:doc     "Build all"
                    :invoker :modules
                    :modules ["api" "cli" "tools"]
                    :args    ["build"]
                    :self    false}
       :doc-gen    {:doc     "Generate namespace docs"
                    :invoker :modules
                    :modules ["api" "tools"]
                    :args    ["doc-gen"]
                    :self    false}
       :lint       {:doc     "Lint source"
                    :invoker :modules
                    :modules ["api" "cli" "tools"]
                    :args    ["lint"]
                    :self    false}
       :fmt        {:doc     "Check source formatting"
                    :invoker :modules
                    :modules ["api" "cli" "tools"]
                    :args    ["fmt"]
                    :self    false}
       :test       {:doc     "Run tests"
                    :invoker :modules
                    :modules ["api" "cli" "tools"]
                    :args    ["test"]
                    :self    false}}]}
