{:deps {}
 :target-path "target"
 :targets {:script  {:tool makejack.uberscript}
           :compile {:tool makejack.compile
                     :aliases [:compile]}
           :uberjar {:tool makejack.depstar}
           :bin     {:tool makejack.graal-compile}
           :fred    {:tool makejack.babashka
                     :form (println "hello")}
           :nrepl-server {:tool makejack.babashka
                          :with-project-deps? true
                          :args ["--nrepl-server"]}}}
