{:version-map     #include "version.edn"
 :version         #version-string #ref [:version-map]
 :name            "makejack"
 :group-id        "org.hugoduncan"
 :versioned-files ["README.md"
                   {:path   "cli/deps.edn"
                    :search #regex "makejack\\s+\\{.*\\}"}
                   {:path   "tools/deps.edn"
                    :search #regex "makejack\\s+\\{.*\\}"}]}
