{:version         "0.0.1-alpha1"
 :name            "makejack"
 :main            makejack.main
 :script-name     "mj1"
 :script-shebang? true
 :binary-name     "mj"
 :aliases #profile {:default []
                    :compile [:compile]
                    :uberjar [:uberjar :compile]
                    :jar     [:jar]}
 :jar-type #profile {:default :jar
                     :uberjar :uberjar
                     :binary  :uberjar}}
