{:project #include "project.edn"
 :target-path "target"
 :targets {:api-doc
           {:tool makejack.clojure
            :aliases [:api-docs]
            :deps {codox {:mvn/version "0.10.6"}}
            :main-opts
            ["-e" (do (require '[codox.main :as codox]
                               'makejack.doc.api-writer)
                      (codox/generate-docs
                        {:output-path "site"
                         :source-uri "https://github.com/hugoduncan/makejack/blob/v{version}/{filepath}#L{line}"
                         :version #ref [:project :version]
                         :namespaces [#regex "^makejack\\.api\\."]
                         :writer 'makejack.doc.api-writer/write-docs
                         }))]}
           :tool-doc
           {:tool makejack.clojure
            :aliases [:api-docs]
            :deps {codox {:mvn/version "0.10.6"}}
            :main-opts
            ["-e" (do (require '[codox.main :as codox]
                               'makejack.doc.tool-writer)
                      (codox/generate-docs
                        {:output-path "site"
                         :source-uri "https://github.com/hugoduncan/makejack/blob/v{version}/{filepath}#L{line}"
                         :version #ref [:project :version]
                         :namespaces [#regex "^makejack\\.[^m][a-z_]+$"]
                         :writer 'makejack.doc.tool-writer/write-docs
                         }))]}
           :build {:doc "pom, compile, uberjar and bin"
                   :tool makejack.chain
                   :targets [pom :compile :uberjar :bin]}
           :site {:tool makejack.shell
                  :args ["hugo" "build"]
                  :options {:out :inherit}}}
 }
