{:version         "0.0.1"
 :name            "makejack"
 ;; the groupId for maven artifacts.  Defaults to the project name.
 :group-id        "makejack"
 ;; the artifactId for maven artifacts.  Defaults to the project name.
 :artifact-id     "makejack"
 ;; the main namespace
 :main            makejack.main
 ;; The jar name
 :jar-name        #join ["makejack-" #ref [:version] ".jar"]
 ;; The jar type, either :jar or :uberjar
 :jar-type        :jar
 ;; specify the name for a generated script
 :script-name     "mj1"
 ;; specify whether to add a shebang for the generated script
 :script-shebang? true
 ;; specify the mode for a generated script
 :script-mode     "755"
 ;; specify the name for a generated binary
 :binary-name     "mj"
 ;; paths for java source files
 :java-paths      []
 ;; compilation options for java source files
 :javac-options   ["-target" "1.7"
                   "-source" "1.7"
                   "-Xlint:-options"]

 ;; deps.edn aliases, usually specified via makejack (aero) profiles
 :aliases #profile {:default []
                    :compile [:compile]}}
