{:deps
 {org.clojure/clojure         {:mvn/version "1.10.2-alpha1"}
  org.hugoduncan/makejack.api {:mvn/version "0.0.1-alpha2"}}
 :aliases {:api-docs   {:extra-paths ["src-dev"]
                        :extra-deps  {clj-commons/clj-yaml {:mvn/version "0.7.0"}}}
           :compile    {:extra-paths         ["target/classes"]
                        :jvm-opts            ["-Dclojure.compiler.direct-linking=true"
                                              "-Dclojure.spec.skip-macros=true"
                                              "-Dclojure.spec.compile-asserts=false"]
                        :classpath-overrides {org.clojure/core.specs.alpha nil}}
           :uberjar    {:extra-paths ["resources"]}
           :dev        {:extra-deps  {codox/codox {:mvn/version "0.10.6"}}
                        :extra-paths ["test-resources"]}
           :test       {:extra-deps
                        {lambdaisland/kaocha           {:mvn/version "1.0.672"}
                         lambdaisland/kaocha-cloverage {:mvn/version "1.0.63"}}}
           :with-tests {:extra-paths ["test"]}}}
