{:version-map     #include "../version.edn"
 :version         #version-string #ref [:version-map]
 :name            "makejack"
 :group-id        "org.hugoduncan"
 :main            makejack.main
 :script-name     "mj-script"
 :script-shebang? true
 :binary-name     "mj"
 :aliases         #profile {:default []
                            :compile [:compile]
                            :uberjar [:uberjar :compile]}
 :jar-type        :uberjar
 :jar-exclusions  ["makejack/impl/build_version.*"
                   ".*.html"
                   ".cpcache.*"]}
