#mj {:project #project {:profile :jar}
     :targets
     #merge
     [#default-targets [:pom :clean :jar :install :deploy]
      #include "../mj-targets.edn"
      {:doc-gen
       {:doc     "Generate tool documentation from sources."
        :invoker :clojure
        :aliases [:api-docs]
        :deps    {codox/codox {:mvn/version "0.10.6"}}
        :options {:forward-options false
                  :dir             "tools"}
        :expr    (do (require '[codox.main :as codox]
                              'makejack.doc.tool-writer)
                     (codox/generate-docs
                      {:metadata    {:doc/format :markdown}
                       :output-path "../site"
                       :source-uri  "https://github.com/hugoduncan/makejack/blob/v{version}/{filepath}#L{line}"
                       :version     #ref [:project :version]
                       :namespaces  [#regex "^makejack\\.tools\\.[a-z_]+$"]
                       :writer      'makejack.doc.tool-writer/write-docs
                       }))}
       :build      {:doc     "pom, jar and install"
                    :invoker :chain
                    :targets [:pom :jar :install]}}]}
