#mj {:project #project {:profile :jar}
     :targets
     #merge
     [#default-targets [:pom :clean :jar :uberjar :compile :binary]
      {:install
       {:invoker :shell
        :args    ["mvn"
                  "org.apache.maven.plugins:maven-install-plugin:3.0.0-M1:install-file"
                  #join ["-Dfile="
                         #ref [:target-path] "/" #ref [:project :jar-name]]
                  #join ["-DgroupId="
                         #ref [:project :group-id]]
                  #join ["-DartifactId="
                         #ref [:project :artifact-id]]
                  #join ["-Dversion="
                         #ref [:project :version]]
                  "-Dpackaging=jar"]}}]}
