(:project #include "project.edn"
 :targets
 {:install {:invoker :shell
            :args    ["mvn"
                      "org.apache.maven.plugins:maven-install-plugin:3.0.0-M1:install-file"
                      #join ["-Dfile="
                             #ref [:target-path]
                             "/"
                             #ref [:project :name]
                             "-"
                             #ref [:project :version]
                             ".jar"]
                      #join ["-DgroupId="
                             #ref [:project :group-id]]
                      #join ["-DartifactId="
                             #ref [:project :name]]
                      #join ["-Dversion="
                             #ref [:project :version]]
                      "-Dpackaging=jar"]}})
