{:version-map #include "../version.edn"
 :version     #version-string #ref [:version-map]
 :name        "makejack.tools"
 :group-id    "org.hugoduncan"
 :repository  {:url
               "http://localhost:8080/repo"
               #_ "https://clojars.org/repo"}}
